
* {
    align-align: center;
    box-sizing: border-box;
}

html {
    align-align: center;
    scroll-behavior: smooth;
}

body {
    align-align: center;
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f4f4f4;
}

header {
    align-align: center;
    background: #222;
    color: white;
    text-align: center;
    padding: 40px;
}

nav {
    background: #444;
    text-align: center;
    padding: 10px;
}

nav a {
    align-align: center;
    color: white;
    margin: 0 15px;
    text-decoration: none;
}

nav button {
    align-align: center;
    padding: 6px 12px;
    cursor: pointer;
}

section {
    text-align: center;
    padding: 40px;
    background: white;
    margin: 20px;
    border-radius: 10px;
}

.container {
    max-width: 900px;
    margin: 0 auto;      /* 👈 centers horizontally */
    padding: 20px;
}

.profile-img {
    align-align: center;
    width: 150px;
    border-radius: 50%;
}

.skills-list {
    align-align: center;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
}

.skills-list li {
    align-align: center;
    background: #007BFF;
    color: white;
    padding: 8px 15px;
    margin: 5px;
    border-radius: 20px;
}

.project-card {
    align-align: center;
    background: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 25px;
}

.project-card img {
    align-align: center;
    width: 100%;
    border-radius: 10px;
}

.btn {
    align-align: center;
    padding: 10px 20px;
    background: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
}

footer {
    align-align: center;
    background: #222;
    color: white;
    text-align: center;
    padding: 15px;
}

/* 🌙 DARK MODE */
.dark {
    align-align: right;
    background: #121212;
    color: white;
}

.dark section {
    background: #1e1e1e;
}

@media (max-width: 768px) {
    nav a {
        display: block;
        margin: 10px 0;
    }
}
